@import "./../../../public/variables.scss";

.project {
  @extend %text17-20;
  color: black;
  flex: 1 0 auto;
  max-width: 800px;
  width: 100%;
  &__linkCover {
    background-color: $coverColor;
    padding: 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    border-radius: 10px;
    //max-width: 300px;
    height: 100%;
    width: 100%;

    &:hover {
      opacity: 0.6;
    }
  }
  &__link {
    max-width: 1000px;
    width: 100%;
    position: relative;
    display: flex;
    padding: 30px;
    margin: 30px;
    background: $lightBlue;
    color: $classicBlack;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease-out;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    align-items: center;
  }
  &__text {
    @extend %text17-20;
    text-decoration: none;
    color: $classicBlack;
    max-width: 350px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  &__img {
    width: 300px;
    border-radius: 10px;
  }
  &__linkText {
    margin: 10px 0;
    @extend %text17-20;
    text-decoration: none;
    border-radius: 10px;
    color: $classicBlack;
  }
  &__linkTextSmall {
    margin: 0;
    padding: 0;
    color: $classicBlack;
    @extend %text14-17;
  }
  &__link {
    display: flex;
    width: 350px;
    flex-direction: column;
    align-items: flex-start;
  }
  &__list {
    margin: 0 0 0 -30px;
    padding: 0;
    list-style-type:none; /* Убираем маркеры */
    max-width: 800px;
    width: 100%;
  }
  &__listSmall{
    list-style-type: circle !important;
  }
  &__listBox {
    display: flex;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    min-width: 800px;
    width: 100%;
    align-items: center
  }
  &__textBox {
    max-width: 350px;
    min-width: 350px;
    width: 100%;
    max-width: 350px;
    min-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__createLine {
    width: 800px;
    border-top: 3px solid $midleBlue;
  }
}
@media only screen and (max-width: 1100px) {
  .project {
    max-width: 380px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .project {
    max-width: 220px;
    width: 100%;
    &__block {
      li {
        max-width: 300px;
        width: auto;
      }
    }
    &__title {
      line-height: 25px;
    }
  }
  ol {
    padding-inline-start: 0px;
  }
}
