.bm-burger-button {
 
    position: fixed;
    width: 60px;
    left: 36px;
    top: 36px;
  }
  .bm-burger-bars {
    background: #373a47;
  }
  .bm-menu {
    padding-top: 10px;
  }
  .bm-overlay{
    margin: -30px;
   ;
  }
  @media only screen and (max-width: 400px) {
    .bm-burger-button {
 
      position: fixed;
      width: 20px;
      left: 5px;
      top: 50px;
    }
  }